---
name: six
url: /6
controller: Controller6
---

<div class="grid-container">
  <h1>6. Routing and deep-linking.</h1>
  <p>The list data is being brought in from a json data file using the angular $http service</p>
  <p>Filters are applied to limit the list to five items and transform the name to uppercase.</p>

  <div class="main lookup-demo" ng-view>
    <!-- This content provided by partials according to route -->
  </div>

  <p>For the select field - why is there a blank option even though it isn't defined in the html? Why isn't the selected working for the name option?</p>
</div>
