---
name: home
url: /
---

<div class="grid-container">

  <h1>Angular Demo</h1>

  <p>This site is a demo of some basic functionality of Angular.js.</p>

  <p>The site is based on the Lynda.com course "<a href="https://www.lynda.com/AngularJS-tutorials/Up-Running-AngularJS/154414-2.html">Up and running with angularjs 1.</a>" However I chose to build the lessons inside of <a href="http://foundation.zurb.com/apps/docs">Foundation for Apps</a>, instead of using the course files, so I could see how that works.</p>

  <p>Each page demonstrates a simple idea. So you can dig into the code and see how it works.</p>

</div>
