
<div class="grid-container square linear spin-cw" >
  <h1>2. Write a controller for a page</h1>
  <p>The controller for this page just passes in a javascript data object containing the name, title and company of an employee.</p>

  <div class="row main" ng-controller="Controller2">
    <div class="small-6 card small-offset-3 columns">

      <div class="card-section">
        <h1>{{author.name}}</h1>
        <p>{{author.title + ', ' + author.company}}</p>
      </div>
    </div>
  </div>

<p>In Foundation for Apps the routing is handled differently than if you write an angular app from scratch.</p>
  <p>Set the controller for a route in the front matter of the page. Add the controller to the app.js file.</p>

</div>
